TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=8556599126
OPENAI_API_KEY=
STRIPE_API_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
APP_BASE_URL=http://localhost:5000
SECRET_KEY=change-this-secret
DATABASE_URL=mysql+pymysql://stock_alert_user:change_me@localhost:3306/stock_alert_project
SUBSCRIPTION_PRICE=29
STOCK_SYMBOLS=AAPL,TSLA,NVDA,MSFT,2330.TW,2454.TW,AMD,GOOGL
RSI_BUY_THRESHOLD=30
RSI_SELL_THRESHOLD=70
MA_PERIOD=20
